# 编译和打包生成的文件
# =================================
build/
dist/
*.spec.bak

# 字节码或优化文件
# =================================
__pycache__/
*.py[cod]

# IDE/编辑器配置文件
# =================================
.idea/

# 本地文件
# =================================
/legacy/readme.txt

